<div class="reply">
  <p>{{comment.content}}</p>
  <p class="post-comment-author">{{comment.author.username}}</p>
  <form action="/posts/{{post._id}}/comments/{{comment._id}}/replies" method="post">
    <div class="form-group">
      <textarea name="content" class="form-control" id="reply-content" placeholder="Reply"></textarea>
    </div>
    <div class='float-right'>
      <a href="/posts/{{post._id}}" class="btn btn-danger-inverse">Cancel</a>
      <button type="submit" class="btn btn-success-inverse">Reply</button>
    </div>
  </form>
</div>
